services:
  - type: web
    name: workflowguard-backend
    env: node
    buildCommand: cd backend && npm install && npm run build
    startCommand: cd backend && npm run start:prod
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        value: postgresql://neondb_owner:npg_oPpKhNtTR20d@ep-dry-resonance-afgqyybz-pooler.c-2.us-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
      - key: DIRECT_URL
        value: postgresql://neondb_owner:npg_oPpKhNtTR20d@ep-dry-resonance-afgqyybz.c-2.us-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
      - key: JWT_SECRET
        value: dDjMTsWdYi+VBy4J5+ocmBbazSM+NJgunjbgBggZPOu8HNzXoUijNXiRbvHZ7JWcFfkHDDEbdeYwzFb9HvqDMw==
      - key: JWT_EXPIRES_IN
        value: 7d
      - key: HUBSPOT_CLIENT_ID
        value: 6be1632d-8007-45e4-aecb-6ec93e6ff528
      - key: HUBSPOT_CLIENT_SECRET
        value: 20c00afe-2875-44a8-a6f6-0ad30b55cc40
      - key: HUBSPOT_REDIRECT_URI
        value: https://api.workflowguard.pro/api/auth/hubspot/callback
      - key: VITE_API_URL
        value: https://api.workflowguard.pro/api
      - key: DOMAIN
        value: www.workflowguard.pro
      - key: RENDER_URL
        value: api.workflowguard.pro
      - key: VERCEL_URL
        value: www.workflowguard.pro
      - key: ENABLE_ANALYTICS
        value: true 